
.top {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

.place {
    text-align: center;
}

